@model tw.com.essentialoil.Product.ViewModels.ProductMenu
    <style>
        .list-group{
            margin:10px;
        }
        .list-group li:hover {
            background-color:deepskyblue;
        }
    </style>
<div style="display:flex; width:auto; margin:auto;">
    @*商品分類--全部產品依功效分*@
    <div class="list-group" style="width:10vw;">
        <ul class="list-group list-group-horizontal-lg">
            依功效分
            @foreach (var efficacy in Model.EfficacyList)
            {
                <li class="list-group-item">@Html.ActionLink(efficacy.fEfficacyName, "ProductFrontPage", new { efficacyId = efficacy.fEfficacyID })</li>
            }
        </ul>
    </div>

    @*商品分類--單方精油依香味調性分*@
    <div class="list-group" style="width:10vw;">
        <ul class="list-group list-group-horizontal-lg">
            <a>依香味調性分</a>
            @foreach (var note in Model.NoteList)
            {
                <li class="list-group-item">@Html.ActionLink(note.fNoteName, "ProductFrontPage", new { noteId = note.fNoteID })</li>
            }
        </ul>
    </div>
    @foreach (var category in Model.CategoryList)
    {
        <ul class="list-group list-group-horizontal-lg">
            <li class="list-group-item">@Html.ActionLink(category.fCategoryName, "ProductFrontPage", new { categoryId = category.fCategoryID })</li>
        </ul>

        @*商品分類--單方精油依萃取部位分*@

        if (category.fCategoryID == 1)
        {
            <div class="list-group" style="width:10vw;">
                <ul class="list-group list-group-horizontal-lg">
                    @foreach (var part in Model.PartList)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(part.fPartName, "ProductFrontPage", new { partId = part.fPartID })
                        </li>
                    }
                </ul>
            </div>

        }
        @*商品分類--副方精油依功效分*@
        if (category.fCategoryID == 2)
        {
            <div class="list-group" style="width:10vw;">
                <ul class="list-group list-group-horizontal-lg">
                    @foreach (var efficacy in Model.EfficacyList.Take(5))
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(efficacy.fEfficacyName, "ProductFrontPage", new { efficacyId = efficacy.fEfficacyID })
                        </li>
                    }
                </ul>
            </div>
        }
        @*商品分類--植物油依特性分*@
        @*商品分類--純露依特性分*@
        if (category.fCategoryID == 3 || category.fCategoryID == 4)
        {
            <div class="list-group" style="width:10vw;">
                <ul class="list-group list-group-horizontal-lg">
                    @foreach (var feature in Model.FeatureList)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(feature.ffeatureName, "ProductFrontPage", new { featureId = feature.ffeatureID, categoryId = category.fCategoryID })
                        </li>
                    }
                </ul>
            </div>
        }
    }
    <div>
    </div>
</div>
