@model IEnumerable<tw.com.essentialoil.Product.ViewModels.SearchModel>

<p>進階查詢</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.searchprod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.efficacyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.featureId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.searchprod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.efficacyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.featureId)
        </td>
      
    </tr>
}

</table>
