@model prjShoppingForum.Models.Entity.tProduct

@{
    ViewBag.Title = "AdvanceQueryPage";
}

<p>進階查詢</p>
@using (Html.BeginForm("ProductFrontPage", "ProductFront"))
{
    <input type="text" name="searchprod" id="searchprod" />

    <div class="form-group">
        @Html.LabelFor(model => model.fCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.DropDownListFor(model => model.fCategoryID, (IEnumerable<SelectListItem>)ViewBag.CategoryDropList, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.fCategoryID, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">特性</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tProductVegetableoil.tfeature.ffeatureID, (IEnumerable<SelectListItem>)ViewBag.featureDropList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tProductVegetableoil.tfeature.ffeatureName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tProductUnilateral.tPart.fPartName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tProductUnilateral.fPartID, (IEnumerable<SelectListItem>)ViewBag.PartDropDownList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tProductUnilateral.tPart.fPartName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tProductUnilateral.tNote.fNoteName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tProductUnilateral.fNoteID, (IEnumerable<SelectListItem>)ViewBag.NoteDropList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tProductUnilateral.tNote.fNoteName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">功效</label>
        <div class="col-md-10">
            @Html.DropDownList("efficacyId", (IEnumerable<SelectListItem>)ViewBag.efficacyDropList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
        </div>
    </div>


    <input type="submit" value="送出查詢" />
}

@if (ViewBag.data != null)
{
    @Html.Partial("_List_Product", (List<prjShoppingForum.Models.Entity.tProduct>)ViewBag.data)
}
