

歡迎 admin 登入
<hr />
<h2>選單</h2>
<p>@Html.ActionLink("消息列表系統", "List", "News")</p>
<p>@Html.ActionLink("留言列表專區", "List", "Message")</p>
<p>@Html.ActionLink("每日一問專區", "List", "Question")</p>
<p>@Html.ActionLink("測驗紀錄專區", "List", "Test")</p>
<p>@Html.ActionLink("積分異動專區", "List", "Score")</p>



