@model prjShoppingForum.Models.Entity.tQuestion

@{
    ViewBag.Title = "刪除題目";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fQuestionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fItemE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fItemE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("返回主選單", "List")
        </div>
    }
</div>
