@model IEnumerable<prjShoppingForum.Models.Entity.tNew>

@{
    ViewBag.Title = "消息列表";
}

<h2>消息列表</h2>

<p>
    @Html.ActionLink("新增文章", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fNewsStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fNewsTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fGet_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAddUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fChangUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fDeleteUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fApproved)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fNewsStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fNewsTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fNewsDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fNewsArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fNewsTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fGet_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAddUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fChangUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fDeleteUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fApproved)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.fNewsId }) |

            @Html.ActionLink("編輯", "Edit", new { fNewsId = item.fNewsId }) |
            @Html.ActionLink("刪除", "Delete", new { fId = item.fNewsId }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })

        </td>
    </tr>
}

</table>

<div>

    <p>@Html.ActionLink("系統目錄", "Index", "Common")</p>

</div>