@model prjShoppingForum.Models.Entity.tScore

@{
    ViewBag.Title = "刪除積分紀錄";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fActiveScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fActiveScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fQuestionScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fScoreDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fScoreDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAuthTestFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAuthTestFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tUserProfile.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tUserProfile.fName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("返回", "List")
        </div>
    }
</div>
