@model prjShoppingForum.Models.Entity.tScore

@{
    ViewBag.Title = "異動積分表";
}

<h2>積分表異動</h2>

<p>
    @Html.ActionLink("新增", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tUserProfile.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fScoreDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fActiveScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQuestionScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAuthTestFlag)
        </th>
        <th></th>
    </tr>

    
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.tUserProfile.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.fScoreDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.fScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.fActiveScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.fQuestionScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.fAuthTestFlag)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = Model.fId }, new { @class = "btn btn-Edit" }) |
            @Html.ActionLink("Details", "Details", new { id = Model.fId }) |
            @Html.ActionLink("刪除", "Delete", new { id = Model.fId }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })
        </td>
    </tr>
    

</table>


<div>

    <p>@Html.ActionLink("系統目錄", "Index", "Common")</p>

</div>
