@{
    decimal correct = 0.0m;
    string q1, q2;
    q1 = ViewData["Q1"].ToString();
    q2 = ViewData["Q2"].ToString();
    if ((!q1.IsEmpty()) && q1.Equals("PHP"))
    {
        correct += 1;
    }
    if ((!q2.IsEmpty()) && q2.Equals("JavaScript"))
    {
        correct += 1;
    }
}

<h2>@ViewBag.Title</h2>

<div>你的積分 = @((100.0m * correct) / 2.0m)</div>

q1:答案:"@q1"/正確PHP<br />
q2:答案:"@q2"/正確JavaScript<br />


@*@model IEnumerable<MSIToil.Models.tQuestion>

    @{
        decimal correct = 0.0m;
        string q1, q2;
        q1 = ViewData["Q1"].ToString();
        q2 = ViewData["Q2"].ToString();
        if ((!q1.IsEmpty()) && q1.Equals("PHP"))
        {
            correct += 1;
        }
        if ((!q2.IsEmpty()) && q2.Equals("JavaScript"))
        {
            correct += 1;
        }}

    <h2>@ViewBag.Title</h2>

    <div>你的積分 = @((100.0m * correct) / 3.0m)</div>

    q1:答案:"@q1"/正確PHP<br/>
    q2:答案: "@q2"/正確JavaScript<br/>*@

