@model IEnumerable<prjShoppingForum.Models.Entity.tTest>

@{
    ViewBag.Title = "測驗紀錄";
}

<h2>測驗紀錄</h2>

<p>
    @Html.ActionLink("新增測驗", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tScore.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tQuestion.fQuestionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fTestStar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fTestEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fTestCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQuestionCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCorrectCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fScoreDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQuestionScore)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tScore.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tQuestion.fQuestionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTestStar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTestEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fTestCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fQuestionCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCorrectCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fScoreDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fQuestionScore)
        </td>

        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.fTestId }) |
            @Html.ActionLink("Details", "Details", new { id = item.fTestId }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.fTestId }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })

        </td>
    </tr>
}

</table>

<div>

    <p>@Html.ActionLink("系統目錄", "Index", "Common")</p>

</div>
